*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    font-family: 'Dosis', sans-serif;
}

li {
    list-style: none;
}

header {
    width: 100%;
    height: 60px;
    background: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.4);
}

.main {
    max-width: 900px;
    margin: 0 auto;
}

div.newPost {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
}

div.newPost div.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.newPost div.infoUser div.imgUser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #333;
}

div.newPost div.infoUser strong {
    font-size: 16px;
    margin-left: 10px;
    color: darkslategray;
}

div.newPost form.formPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.newPost form.formPost textarea {
    height: 90px;
    background: #FBFBFB;
    margin: 15px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    border: 0;
    outline: none;
    font-weight: bold;
    color: #727272;
    font-family: 'Dosis', sans-serif;
}

div.newPost form.formPost div.iconsAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.newPost form.formPost div.iconsAndButton div.icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div.newPost form.formPost div.iconsAndButton div.icons button{
    outline: none;
    margin-right: 15px;
    border:0;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.newPost form.formPost div.iconsAndButton button.btnSubmitForm {
    background: darkslategray;
    padding: 10px 50px;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: background 0.2s;
  }

  div.newPost form.formPost div.iconsAndButton button.btnSubmitForm:hover {
    background: rgb(42, 66, 66);
  }

  ul.posts li.post {
    margin-bottom: 50px;
    background: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.05);
  }

  ul.posts li.post div.infoUserPost {
    display: flex;
    align-items: center;
  }
  
  ul.posts li.post div.infoUserPost div.imgUserPost {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #333;
  }
  ul.posts li.post div.infoUserPost  div.nameAndHour {
    margin-left: 10px;
  }
  
  ul.posts li.post div.infoUserPost  div.nameAndHour >strong {
    color:rgb(42, 66, 66);
  }
  
  ul.posts li.post div.infoUserPost div.nameAndHour  >p {
    color:#d1d1d1;
    font-size:12px;
  }
  
  ul.posts li.post >p {
    width: 100%;
    margin:20px 0;
    font-weight: bold;
    color: #727272;
  }

  ul.posts li.post div.actionBtnPost {
    display:flex;
    align-items: center;
  }

  ul.posts li.post div.actionBtnPost button.filesPost {
    padding:5px 20px;
    border: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    outline:none;
    margin-right: 10px;
    border-radius:10px;
    cursor: pointer;
    color:#fff;
    font-weight: bold;
    transition: background 0.2s;
  }
  
  ul.posts li.post div.actionBtnPost button.filesPost img {
    margin-right: 5px;
  }

  .like {
    background: #ff6b6b;
  }

  .like:hover {
    background: rgb(248,75,75);
  }

  .comment {
    background: #23a0ff;
  }

  .comment:hover {
    background: rgb(8,141,241);
  }

  .share {
    background: gray;
  }

  .share:hover {
    background: rgb(104, 103, 103);
  }